This notebook is to combine the properties and features ||| Import libraries and dataset

In [4]:
import pandas as pd
properties_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/datasets/all_properties_tidy_enriched.csv')
income_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/Amanda-workspace/predicted_income_till_2030.csv')

In [7]:
properties_df[properties_df["SA2_CODE21"] == 201011002]

,Suburb,date,bedrooms,property_type,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,LGA_CODE21,LGA_NAME21
3506,Ballarat,2000-03-01,1.0,flat,69,80,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
3507,Ballarat,2000-03-01,2.0,flat,197,125,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
3508,Ballarat,2000-03-01,2.0,house,157,125,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
3509,Ballarat,2000-03-01,3.0,flat,17,160,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
3510,Ballarat,2000-03-01,3.0,house,408,140,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
...,...,...,...,...,...,...,...,...,...,...,...,...
4208,Ballarat,2025-03-01,2.0,house,166,360,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
4209,Ballarat,2025-03-01,3.0,flat,82,400,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
4210,Ballarat,2025-03-01,3.0,house,576,400,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
4211,Ballarat,2025-03-01,4.0,house,177,470,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat
4212,Ballarat,2025-03-01,NaN,NaN,1320,395,-37.556144,143.836655,201011002.0,Ballarat,20570.0,Ballarat

In [ ]:
income_df["SA2"] = income_df["SA2"].astype(int)
income_df

,SA2,SA2 NAME,2017-18.sum,2018-19.sum,2019-20.sum,2020-21.sum,2021-22.sum,2017-18.med,2018-19.med,2019-20.med,...,Predicted_Income_2029,Predicted_Income_2030,Predicted_Income_2023.1,Predicted_Income_2024.1,Predicted_Income_2025.1,Predicted_Income_2026.1,Predicted_Income_2027.1,Predicted_Income_2028.1,Predicted_Income_2029.1,Predicted_Income_2030.1
0,Victoria,NaN,2.401343e+11,2.552606e+11,2.644995e+11,2.777830e+11,3.036700e+11,47003.0,48801.0,49848.0,...,67459.9,69342.6,56163.7,58046.4,59929.1,61811.8,63694.5,65577.2,67459.9,69342.6
1,201011001,Alfredton,4.830365e+08,5.266747e+08,5.871047e+08,6.719109e+08,7.661202e+08,50151.0,51620.0,52777.0,...,71860.7,73881.6,59735.3,61756.2,63777.1,65798.0,67818.9,69839.8,71860.7,73881.6
2,201011002,Ballarat,5.836767e+08,6.140196e+08,6.227198e+08,6.587578e+08,6.838888e+08,48937.0,51187.0,50968.0,...,65854.7,67395.4,56610.5,58151.2,59691.9,61232.6,62773.3,64314.0,65854.7,67395.4
3,201011005,Buninyong,2.675157e+08,2.797703e+08,2.882522e+08,3.027231e+08,3.251919e+08,48461.0,49846.0,51572.0,...,67795.5,69570.2,57147.3,58922.0,60696.7,62471.4,64246.1,66020.8,67795.5,69570.2
4,201011006,Delacombe,2.307361e+08,2.653591e+08,3.038581e+08,3.477675e+08,4.214570e+08,45598.0,47940.0,49810.0,...,66372.3,68240.8,55161.3,57029.8,58898.3,60766.8,62635.3,64503.8,66372.3,68240.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,217031476,Otway,1.080793e+08,1.150822e+08,1.214713e+08,1.353870e+08,1.412112e+08,30663.0,32420.0,33597.0,...,59617.1,62319.8,43400.9,46103.6,48806.3,51509.0,54211.7,56914.4,59617.1,62319.8
519,217041477,Moyne - East,2.071029e+08,2.359113e+08,2.487158e+08,2.591970e+08,2.854665e+08,40764.0,43158.0,43759.0,...,65238.8,67487.6,51746.0,53994.8,56243.6,58492.4,60741.2,62990.0,65238.8,67487.6
520,217041478,Moyne - West,3.111598e+08,3.363136e+08,3.592223e+08,3.842777e+08,4.308266e+08,41093.0,43243.0,44966.0,...,69607.7,72242.0,53801.9,56436.2,59070.5,61704.8,64339.1,66973.4,69607.7,72242.0
521,217041479,Warrnambool - North,7.970469e+08,7.598940e+08,8.041996e+08,8.545918e+08,9.159373e+08,43939.0,45632.0,47821.0,...,66086.3,68110.4,53941.7,55965.8,57989.9,60014.0,62038.1,64062.2,66086.3,68110.4
522,217041480,Warrnambool - South,4.388683e+08,4.830118e+08,4.924771e+08,5.323953e+08,5.534937e+08,43308.0,44841.0,46303.0,...,68481.2,70826.0,54412.4,56757.2,59102.0,61446.8,63791.6,66136.4,68481.2,70826.0

In [ ]:
def clean_sa2(value):
    try:
        return int(value)  # keep as integer if numeric
    except (ValueError, TypeError):
        return pd.NA       # replace non-numeric with NA (blank)

# Apply cleaning
income_df["SA2 NAME"] = income_df.apply(
    lambda row: row["SA2 NAME"] if pd.notna(row["SA2 NAME"]) else (row["SA2"] if not str(row["SA2"]).isdigit() else pd.NA),
    axis=1
)

income_df["SA2"] = income_df["SA2"].apply(clean_sa2).astype("Int64")

In [15]:
income_df

,SA2,SA2 NAME,2017-18.sum,2018-19.sum,2019-20.sum,2020-21.sum,2021-22.sum,2017-18.med,2018-19.med,2019-20.med,...,Predicted_Income_2029,Predicted_Income_2030,Predicted_Income_2023.1,Predicted_Income_2024.1,Predicted_Income_2025.1,Predicted_Income_2026.1,Predicted_Income_2027.1,Predicted_Income_2028.1,Predicted_Income_2029.1,Predicted_Income_2030.1
0,<NA>,Victoria,2.401343e+11,2.552606e+11,2.644995e+11,2.777830e+11,3.036700e+11,47003.0,48801.0,49848.0,...,67459.9,69342.6,56163.7,58046.4,59929.1,61811.8,63694.5,65577.2,67459.9,69342.6
1,201011001,Alfredton,4.830365e+08,5.266747e+08,5.871047e+08,6.719109e+08,7.661202e+08,50151.0,51620.0,52777.0,...,71860.7,73881.6,59735.3,61756.2,63777.1,65798.0,67818.9,69839.8,71860.7,73881.6
2,201011002,Ballarat,5.836767e+08,6.140196e+08,6.227198e+08,6.587578e+08,6.838888e+08,48937.0,51187.0,50968.0,...,65854.7,67395.4,56610.5,58151.2,59691.9,61232.6,62773.3,64314.0,65854.7,67395.4
3,201011005,Buninyong,2.675157e+08,2.797703e+08,2.882522e+08,3.027231e+08,3.251919e+08,48461.0,49846.0,51572.0,...,67795.5,69570.2,57147.3,58922.0,60696.7,62471.4,64246.1,66020.8,67795.5,69570.2
4,201011006,Delacombe,2.307361e+08,2.653591e+08,3.038581e+08,3.477675e+08,4.214570e+08,45598.0,47940.0,49810.0,...,66372.3,68240.8,55161.3,57029.8,58898.3,60766.8,62635.3,64503.8,66372.3,68240.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,217031476,Otway,1.080793e+08,1.150822e+08,1.214713e+08,1.353870e+08,1.412112e+08,30663.0,32420.0,33597.0,...,59617.1,62319.8,43400.9,46103.6,48806.3,51509.0,54211.7,56914.4,59617.1,62319.8
519,217041477,Moyne - East,2.071029e+08,2.359113e+08,2.487158e+08,2.591970e+08,2.854665e+08,40764.0,43158.0,43759.0,...,65238.8,67487.6,51746.0,53994.8,56243.6,58492.4,60741.2,62990.0,65238.8,67487.6
520,217041478,Moyne - West,3.111598e+08,3.363136e+08,3.592223e+08,3.842777e+08,4.308266e+08,41093.0,43243.0,44966.0,...,69607.7,72242.0,53801.9,56436.2,59070.5,61704.8,64339.1,66973.4,69607.7,72242.0
521,217041479,Warrnambool - North,7.970469e+08,7.598940e+08,8.041996e+08,8.545918e+08,9.159373e+08,43939.0,45632.0,47821.0,...,66086.3,68110.4,53941.7,55965.8,57989.9,60014.0,62038.1,64062.2,66086.3,68110.4
522,217041480,Warrnambool - South,4.388683e+08,4.830118e+08,4.924771e+08,5.323953e+08,5.534937e+08,43308.0,44841.0,46303.0,...,68481.2,70826.0,54412.4,56757.2,59102.0,61446.8,63791.6,66136.4,68481.2,70826.0

Merge with income dataset

In [18]:
properties_features_df = properties_df.merge(
    income_df,
    left_on="SA2_CODE21",  
    right_on="SA2",       
    how="left"             
)

,Suburb,date,bedrooms,property_type,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,...,Predicted_Income_2029,Predicted_Income_2030,Predicted_Income_2023.1,Predicted_Income_2024.1,Predicted_Income_2025.1,Predicted_Income_2026.1,Predicted_Income_2027.1,Predicted_Income_2028.1,Predicted_Income_2029.1,Predicted_Income_2030.1
0,Albert Park-Middle Park-West St Kilda,2000-03-01,1.0,flat,352,165,-37.853484,144.970161,206051128.0,Albert Park,...,93339.8,96220.6,76055.0,78935.8,81816.6,84697.4,87578.2,90459.0,93339.8,96220.6
1,Albert Park-Middle Park-West St Kilda,2000-03-01,2.0,flat,292,250,-37.853484,144.970161,206051128.0,Albert Park,...,93339.8,96220.6,76055.0,78935.8,81816.6,84697.4,87578.2,90459.0,93339.8,96220.6
2,Albert Park-Middle Park-West St Kilda,2000-03-01,2.0,house,172,300,-37.853484,144.970161,206051128.0,Albert Park,...,93339.8,96220.6,76055.0,78935.8,81816.6,84697.4,87578.2,90459.0,93339.8,96220.6
3,Albert Park-Middle Park-West St Kilda,2000-03-01,3.0,flat,25,350,-37.853484,144.970161,206051128.0,Albert Park,...,93339.8,96220.6,76055.0,78935.8,81816.6,84697.4,87578.2,90459.0,93339.8,96220.6
4,Albert Park-Middle Park-West St Kilda,2000-03-01,3.0,house,115,390,-37.853484,144.970161,206051128.0,Albert Park,...,93339.8,96220.6,76055.0,78935.8,81816.6,84697.4,87578.2,90459.0,93339.8,96220.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100170,Yarraville-Seddon,2025-03-01,2.0,house,182,600,-37.812809,144.884163,213031352.0,Yarraville,...,106064.6,109950.6,82748.6,86634.6,90520.6,94406.6,98292.6,102178.6,106064.6,109950.6
100171,Yarraville-Seddon,2025-03-01,3.0,flat,28,698,-37.812809,144.884163,213031352.0,Yarraville,...,106064.6,109950.6,82748.6,86634.6,90520.6,94406.6,98292.6,102178.6,106064.6,109950.6
100172,Yarraville-Seddon,2025-03-01,3.0,house,313,700,-37.812809,144.884163,213031352.0,Yarraville,...,106064.6,109950.6,82748.6,86634.6,90520.6,94406.6,98292.6,102178.6,106064.6,109950.6
100173,Yarraville-Seddon,2025-03-01,4.0,house,51,860,-37.812809,144.884163,213031352.0,Yarraville,...,106064.6,109950.6,82748.6,86634.6,90520.6,94406.6,98292.6,102178.6,106064.6,109950.6
100174,Yarraville-Seddon,2025-03-01,NaN,NaN,1061,600,-37.812809,144.884163,213031352.0,Yarraville,...,106064.6,109950.6,82748.6,86634.6,90520.6,94406.6,98292.6,102178.6,106064.6,109950.6