This notebook is to combine the properties and features historical

In [38]:
import pandas as pd
properties_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/datasets/all_properties_tidy_enriched.csv')
income_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/Amanda-workspace/predicted_income_till_2030(in).csv')

/tmp/ipykernel_415969/3658144541.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  properties_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/datasets/all_properties_tidy_enriched.csv')

In [39]:
properties_df.head(8)

,Suburb,date,bedrooms,property_type,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,LGA_CODE21,LGA_NAME21
0,Albert Park-Middle Park-West St Kilda,1/03/2000,1.0,flat,352,165,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
1,Albert Park-Middle Park-West St Kilda,1/03/2000,2.0,flat,292,250,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
2,Albert Park-Middle Park-West St Kilda,1/03/2000,2.0,house,172,300,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
3,Albert Park-Middle Park-West St Kilda,1/03/2000,3.0,flat,25,350,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
4,Albert Park-Middle Park-West St Kilda,1/03/2000,3.0,house,115,390,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
5,Albert Park-Middle Park-West St Kilda,1/03/2000,4.0,house,19,500,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
6,Albert Park-Middle Park-West St Kilda,1/03/2000,NaN,NaN,1143,260,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
7,Albert Park-Middle Park-West St Kilda,1/06/2000,1.0,flat,347,165,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip

In [40]:
properties_df.dtypes

Suburb            object
date              object
bedrooms         float64
property_type     object
Count              int64
Median             int64
Lat              float64
Lng               object
SA2_CODE21       float64
SA2_NAME21        object
LGA_CODE21       float64
LGA_NAME21        object
dtype: object

In [41]:
properties_df[["SA2_CODE21", "LGA_CODE21"]].isna().sum()

SA2_CODE21    1401
LGA_CODE21    1401
dtype: int64

In [42]:
missing_both = properties_df[properties_df["SA2_CODE21"].isna() | properties_df["LGA_CODE21"].isna()]
missing_both

,Suburb,date,bedrooms,property_type,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,LGA_CODE21,LGA_NAME21
45120,Group Total,1/03/2000,1.0,flat,7746,160,NaN,NaN,NaN,NaN,NaN,NaN
45121,Group Total,1/03/2000,2.0,flat,9079,245,NaN,NaN,NaN,NaN,NaN,NaN
45122,Group Total,1/03/2000,2.0,house,2677,260,NaN,NaN,NaN,NaN,NaN,NaN
45123,Group Total,1/03/2000,3.0,flat,1448,370,NaN,NaN,NaN,NaN,NaN,NaN
45124,Group Total,1/03/2000,3.0,house,1816,320,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91990,Wanagaratta,1/03/2025,2.0,house,23,390,NaN,NaN,NaN,NaN,NaN,NaN
91991,Wanagaratta,1/03/2025,3.0,flat,22,450,NaN,NaN,NaN,NaN,NaN,NaN
91992,Wanagaratta,1/03/2025,3.0,house,234,450,NaN,NaN,NaN,NaN,NaN,NaN
91993,Wanagaratta,1/03/2025,4.0,house,70,580,NaN,NaN,NaN,NaN,NaN,NaN
91994,Wanagaratta,1/03/2025,NaN,NaN,537,411,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
properties_df["SA2_CODE21"] = properties_df["SA2_CODE21"].astype("Int64")
properties_df["LGA_CODE21"] = properties_df["LGA_CODE21"].astype("Int64")

In [ ]:
#Delete all "group total" rows, clean Wanagaratta SA2 code

# 1. Drop rows where Suburb == "Group Total"
properties_df = properties_df[properties_df["Suburb"] != "Group Total"].copy()

# 2. Update the Wanagaratta row
mask = properties_df["Suburb"] == "Wanagaratta"
properties_df.loc[mask, "SA2_CODE21"] = 204021066
properties_df.loc[mask, "SA2_NAME21"] = "Wangaratta"
properties_df.loc[mask, "Lat"] = -36.3588908
properties_df.loc[mask, "Lng"] = 146.3096576

In [ ]:
#Delete all LGA related
properties_df = properties_df.drop(columns=["LGA_CODE21", "LGA_NAME21"])

# Taking only the total of the properties, nan bedrooms and property type

In [50]:
properties_df

,Suburb,date,bedrooms,property_type,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21
0,Albert Park-Middle Park-West St Kilda,1/03/2000,1.0,flat,352,165,-37.853484,144.9701609,206051128,Albert Park
1,Albert Park-Middle Park-West St Kilda,1/03/2000,2.0,flat,292,250,-37.853484,144.9701609,206051128,Albert Park
2,Albert Park-Middle Park-West St Kilda,1/03/2000,2.0,house,172,300,-37.853484,144.9701609,206051128,Albert Park
3,Albert Park-Middle Park-West St Kilda,1/03/2000,3.0,flat,25,350,-37.853484,144.9701609,206051128,Albert Park
4,Albert Park-Middle Park-West St Kilda,1/03/2000,3.0,house,115,390,-37.853484,144.9701609,206051128,Albert Park
...,...,...,...,...,...,...,...,...,...,...
100170,Yarraville-Seddon,1/03/2025,2.0,house,182,600,-37.812809,144.884163,213031352,Yarraville
100171,Yarraville-Seddon,1/03/2025,3.0,flat,28,698,-37.812809,144.884163,213031352,Yarraville
100172,Yarraville-Seddon,1/03/2025,3.0,house,313,700,-37.812809,144.884163,213031352,Yarraville
100173,Yarraville-Seddon,1/03/2025,4.0,house,51,860,-37.812809,144.884163,213031352,Yarraville
100174,Yarraville-Seddon,1/03/2025,NaN,NaN,1061,600,-37.812809,144.884163,213031352,Yarraville

In [ ]:
properties_total_df = properties_df[
    properties_df["bedrooms"].isna() & properties_df["property_type"].isna()
]

In [58]:
properties_total_df = properties_total_df.drop(columns=["bedrooms", "property_type"])
properties_total_df

,Suburb,date,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21
6,Albert Park-Middle Park-West St Kilda,1/03/2000,1143,260,-37.853484,144.9701609,206051128,Albert Park
13,Albert Park-Middle Park-West St Kilda,1/06/2000,1134,260,-37.853484,144.9701609,206051128,Albert Park
20,Albert Park-Middle Park-West St Kilda,1/09/2000,1177,270,-37.853484,144.9701609,206051128,Albert Park
27,Albert Park-Middle Park-West St Kilda,1/12/2000,1178,275,-37.853484,144.9701609,206051128,Albert Park
34,Albert Park-Middle Park-West St Kilda,1/03/2001,1208,275,-37.853484,144.9701609,206051128,Albert Park
...,...,...,...,...,...,...,...,...
100146,Yarraville-Seddon,1/03/2024,1079,570,-37.812809,144.884163,213031352,Yarraville
100153,Yarraville-Seddon,1/06/2024,1071,590,-37.812809,144.884163,213031352,Yarraville
100160,Yarraville-Seddon,1/09/2024,1063,595,-37.812809,144.884163,213031352,Yarraville
100167,Yarraville-Seddon,1/12/2024,1085,600,-37.812809,144.884163,213031352,Yarraville
100174,Yarraville-Seddon,1/03/2025,1061,600,-37.812809,144.884163,213031352,Yarraville

# Combining with external features

In [ ]:
#Start with population