This notebook is to combine the properties and features historical

In [1]:
import pandas as pd
properties_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/datasets/all_properties_tidy_enriched.csv')

/tmp/ipykernel_455780/636035063.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  properties_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/datasets/all_properties_tidy_enriched.csv')

In [2]:
properties_df.head(8)

,Suburb,date,bedrooms,property_type,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,LGA_CODE21,LGA_NAME21
0,Albert Park-Middle Park-West St Kilda,1/03/2000,1.0,flat,352,165,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
1,Albert Park-Middle Park-West St Kilda,1/03/2000,2.0,flat,292,250,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
2,Albert Park-Middle Park-West St Kilda,1/03/2000,2.0,house,172,300,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
3,Albert Park-Middle Park-West St Kilda,1/03/2000,3.0,flat,25,350,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
4,Albert Park-Middle Park-West St Kilda,1/03/2000,3.0,house,115,390,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
5,Albert Park-Middle Park-West St Kilda,1/03/2000,4.0,house,19,500,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
6,Albert Park-Middle Park-West St Kilda,1/03/2000,NaN,NaN,1143,260,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip
7,Albert Park-Middle Park-West St Kilda,1/06/2000,1.0,flat,347,165,-37.853484,144.9701609,206051128.0,Albert Park,25900.0,Port Phillip

In [3]:
properties_df.dtypes

Suburb            object
date              object
bedrooms         float64
property_type     object
Count              int64
Median             int64
Lat              float64
Lng               object
SA2_CODE21       float64
SA2_NAME21        object
LGA_CODE21       float64
LGA_NAME21        object
dtype: object

In [4]:
properties_df[["SA2_CODE21", "LGA_CODE21"]].isna().sum()

SA2_CODE21    1401
LGA_CODE21    1401
dtype: int64

In [5]:
missing_both = properties_df[properties_df["SA2_CODE21"].isna() | properties_df["LGA_CODE21"].isna()]
missing_both

,Suburb,date,bedrooms,property_type,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,LGA_CODE21,LGA_NAME21
45120,Group Total,1/03/2000,1.0,flat,7746,160,NaN,NaN,NaN,NaN,NaN,NaN
45121,Group Total,1/03/2000,2.0,flat,9079,245,NaN,NaN,NaN,NaN,NaN,NaN
45122,Group Total,1/03/2000,2.0,house,2677,260,NaN,NaN,NaN,NaN,NaN,NaN
45123,Group Total,1/03/2000,3.0,flat,1448,370,NaN,NaN,NaN,NaN,NaN,NaN
45124,Group Total,1/03/2000,3.0,house,1816,320,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91990,Wanagaratta,1/03/2025,2.0,house,23,390,NaN,NaN,NaN,NaN,NaN,NaN
91991,Wanagaratta,1/03/2025,3.0,flat,22,450,NaN,NaN,NaN,NaN,NaN,NaN
91992,Wanagaratta,1/03/2025,3.0,house,234,450,NaN,NaN,NaN,NaN,NaN,NaN
91993,Wanagaratta,1/03/2025,4.0,house,70,580,NaN,NaN,NaN,NaN,NaN,NaN
91994,Wanagaratta,1/03/2025,NaN,NaN,537,411,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
properties_df["SA2_CODE21"] = properties_df["SA2_CODE21"].astype("Int64")
properties_df["LGA_CODE21"] = properties_df["LGA_CODE21"].astype("Int64")

In [7]:
#Delete all "group total" rows, clean Wanagaratta SA2 code

# 1. Drop rows where Suburb == "Group Total"
properties_df = properties_df[properties_df["Suburb"] != "Group Total"].copy()

# 2. Update the Wanagaratta row
mask = properties_df["Suburb"] == "Wanagaratta"
properties_df.loc[mask, "SA2_CODE21"] = 204021066
properties_df.loc[mask, "SA2_NAME21"] = "Wangaratta"
properties_df.loc[mask, "Lat"] = -36.3588908
properties_df.loc[mask, "Lng"] = 146.3096576

In [8]:
#Delete all LGA related
properties_df = properties_df.drop(columns=["LGA_CODE21", "LGA_NAME21"])

# Taking only the total of the properties, nan bedrooms and property type

In [9]:
properties_df

,Suburb,date,bedrooms,property_type,Count,Median,Lat,Lng,SA2_CODE21,SA2_NAME21
0,Albert Park-Middle Park-West St Kilda,1/03/2000,1.0,flat,352,165,-37.853484,144.9701609,206051128,Albert Park
1,Albert Park-Middle Park-West St Kilda,1/03/2000,2.0,flat,292,250,-37.853484,144.9701609,206051128,Albert Park
2,Albert Park-Middle Park-West St Kilda,1/03/2000,2.0,house,172,300,-37.853484,144.9701609,206051128,Albert Park
3,Albert Park-Middle Park-West St Kilda,1/03/2000,3.0,flat,25,350,-37.853484,144.9701609,206051128,Albert Park
4,Albert Park-Middle Park-West St Kilda,1/03/2000,3.0,house,115,390,-37.853484,144.9701609,206051128,Albert Park
...,...,...,...,...,...,...,...,...,...,...
100170,Yarraville-Seddon,1/03/2025,2.0,house,182,600,-37.812809,144.884163,213031352,Yarraville
100171,Yarraville-Seddon,1/03/2025,3.0,flat,28,698,-37.812809,144.884163,213031352,Yarraville
100172,Yarraville-Seddon,1/03/2025,3.0,house,313,700,-37.812809,144.884163,213031352,Yarraville
100173,Yarraville-Seddon,1/03/2025,4.0,house,51,860,-37.812809,144.884163,213031352,Yarraville
100174,Yarraville-Seddon,1/03/2025,NaN,NaN,1061,600,-37.812809,144.884163,213031352,Yarraville

In [10]:
properties_df = properties_df[
    properties_df["bedrooms"].isna() & properties_df["property_type"].isna()
]

In [11]:
properties_df = properties_df.drop(columns=["bedrooms", "property_type","Count"])
properties_df

,Suburb,date,Median,Lat,Lng,SA2_CODE21,SA2_NAME21
6,Albert Park-Middle Park-West St Kilda,1/03/2000,260,-37.853484,144.9701609,206051128,Albert Park
13,Albert Park-Middle Park-West St Kilda,1/06/2000,260,-37.853484,144.9701609,206051128,Albert Park
20,Albert Park-Middle Park-West St Kilda,1/09/2000,270,-37.853484,144.9701609,206051128,Albert Park
27,Albert Park-Middle Park-West St Kilda,1/12/2000,275,-37.853484,144.9701609,206051128,Albert Park
34,Albert Park-Middle Park-West St Kilda,1/03/2001,275,-37.853484,144.9701609,206051128,Albert Park
...,...,...,...,...,...,...,...
100146,Yarraville-Seddon,1/03/2024,570,-37.812809,144.884163,213031352,Yarraville
100153,Yarraville-Seddon,1/06/2024,590,-37.812809,144.884163,213031352,Yarraville
100160,Yarraville-Seddon,1/09/2024,595,-37.812809,144.884163,213031352,Yarraville
100167,Yarraville-Seddon,1/12/2024,600,-37.812809,144.884163,213031352,Yarraville
100174,Yarraville-Seddon,1/03/2025,600,-37.812809,144.884163,213031352,Yarraville

In [12]:
properties_df["date"] = pd.to_datetime(
    properties_df["date"],
    format="%d/%m/%Y"   # day/month/year
)

In [13]:
# Define your year range
start_date = pd.Timestamp("2017-01-01")
end_date   = pd.Timestamp("2025-12-31")

# Filter only properties within 2017–2025
properties_df = properties_df[(properties_df["date"] >= start_date) & (properties_df["date"] <= end_date)]
properties_df

,Suburb,date,Median,Lat,Lng,SA2_CODE21,SA2_NAME21
482,Albert Park-Middle Park-West St Kilda,2017-03-01,520,-37.853484,144.9701609,206051128,Albert Park
489,Albert Park-Middle Park-West St Kilda,2017-06-01,532,-37.853484,144.9701609,206051128,Albert Park
496,Albert Park-Middle Park-West St Kilda,2017-09-01,530,-37.853484,144.9701609,206051128,Albert Park
503,Albert Park-Middle Park-West St Kilda,2017-12-01,530,-37.853484,144.9701609,206051128,Albert Park
510,Albert Park-Middle Park-West St Kilda,2018-03-01,550,-37.853484,144.9701609,206051128,Albert Park
...,...,...,...,...,...,...,...
100146,Yarraville-Seddon,2024-03-01,570,-37.812809,144.884163,213031352,Yarraville
100153,Yarraville-Seddon,2024-06-01,590,-37.812809,144.884163,213031352,Yarraville
100160,Yarraville-Seddon,2024-09-01,595,-37.812809,144.884163,213031352,Yarraville
100167,Yarraville-Seddon,2024-12-01,600,-37.812809,144.884163,213031352,Yarraville
100174,Yarraville-Seddon,2025-03-01,600,-37.812809,144.884163,213031352,Yarraville

# Combining with external features

Start with population

In [14]:
population_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/Amanda-workspace/full_erp_only_population_data.csv')
population_df

,sa2_code,erp_2015,erp_2016,erp_2017,erp_2018,erp_2019,erp_2020,erp_2021,erp_2022,erp_2023,...,erp_2027,erp_2028,erp_2029,erp_2030,erp_2031,erp_2032,erp_2033,erp_2034,erp_2035,erp_2036
0,201011001,11039.0,11852.0,12649.0,13537.0,14434.0,15507.0,16841.0,18002.0,18995.0,...,21325.893697,21895.531232,22465.168766,23034.806301,23604.443836,24095.619230,24586.794624,25077.970018,25569.145413,26060.320807
1,201011002,12300.0,12301.0,12266.0,12244.0,12320.0,12196.0,12071.0,11938.0,11811.0,...,11719.320995,11740.348397,11761.375799,11782.403201,11803.430603,11839.942960,11876.455316,11912.967673,11949.480030,11985.992387
2,201011005,7191.0,7311.0,7409.0,7418.0,7458.0,7377.0,7229.0,7247.0,7323.0,...,7434.686493,7497.293213,7559.899932,7622.506652,7685.113372,7753.868146,7822.622920,7891.377695,7960.132469,8028.887243
3,201011006,6846.0,7195.0,7622.0,8183.0,8890.0,9755.0,10648.0,11798.0,12865.0,...,16827.266327,17739.346612,18651.426898,19563.507183,20475.587469,21373.510463,22271.433457,23169.356451,24067.279445,24965.202439
4,201011007,3966.0,3990.0,4004.0,4042.0,4112.0,4152.0,4211.0,4223.0,4267.0,...,4341.161505,4370.224481,4399.287456,4428.350431,4457.413406,4511.024293,4564.635179,4618.246065,4671.856951,4725.467837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,217031476,3538.0,3556.0,3635.0,3710.0,3802.0,3911.0,3979.0,3974.0,3983.0,...,4147.083280,4182.682086,4218.280891,4253.879696,4289.478501,4325.233368,4360.988235,4396.743101,4432.497968,4468.252835
526,217041477,6716.0,6709.0,6717.0,6746.0,6798.0,6883.0,6990.0,7046.0,7131.0,...,7221.447801,7256.180692,7290.913584,7325.646476,7360.379368,7392.136323,7423.893278,7455.650233,7487.407188,7519.164143
527,217041478,9467.0,9603.0,9686.0,9783.0,9845.0,9859.0,9967.0,10098.0,10147.0,...,10495.508296,10585.734805,10675.961314,10766.187824,10856.414333,10941.352640,11026.290947,11111.229254,11196.167562,11281.105869
528,217041479,21217.0,21442.0,21688.0,21954.0,22184.0,22416.0,22470.0,22586.0,22761.0,...,23444.843119,23635.499809,23826.156499,24016.813189,24207.469878,24402.183550,24596.897222,24791.610894,24986.324566,25181.038238
529,217041480,13150.0,13173.0,13199.0,13226.0,13264.0,13346.0,13298.0,13323.0,13477.0,...,13461.672137,13489.840078,13518.008020,13546.175962,13574.343903,13608.681571,13643.019238,13677.356905,13711.694572,13746.032239

In [15]:
population_df.dtypes

sa2_code      int64
erp_2015    float64
erp_2016    float64
erp_2017    float64
erp_2018    float64
erp_2019    float64
erp_2020    float64
erp_2021    float64
erp_2022    float64
erp_2023    float64
erp_2024    float64
erp_2025    float64
erp_2026    float64
erp_2027    float64
erp_2028    float64
erp_2029    float64
erp_2030    float64
erp_2031    float64
erp_2032    float64
erp_2033    float64
erp_2034    float64
erp_2035    float64
erp_2036    float64
dtype: object

In [16]:
import pandas as pd
import re

# ---------- INPUTS ----------
# properties_df with columns ['date','SA2_CODE21', ...]
# population_df with ['sa2_code','erp_2015'..] (wide)


# ---------- 1) Keep ONLY erp_2015..erp_2025 ----------
years = range(2017, 2026)
keep_cols = ["sa2_code"] + [f"erp_{y}" for y in years if f"erp_{y}" in population_df.columns]
pop_wide = population_df[keep_cols].copy()

# one row per SA2
if pop_wide.duplicated("sa2_code").any():
    pop_wide = (pop_wide.groupby("sa2_code", as_index=False)
                .agg({c: "mean" for c in pop_wide.columns if c != "sa2_code"}))

# ---------- 2) Wide -> long (dup-safe) ----------
pop_long = pop_wide.melt(id_vars="sa2_code", var_name="year_lbl", value_name="ERP")
pop_long["year"] = pop_long["year_lbl"].str[-4:].astype(int)
pop_long = (pop_long.groupby(["sa2_code","year"], as_index=False)
                    .agg(ERP=("ERP","mean")))
pop_long["date"] = pd.to_datetime(pop_long["year"].astype(str) + "-01-01")

# ---------- 3) Build ERP quarterly grid STRICTLY within 2015–2025, on the 3rd ----------
q_start = pd.Timestamp("2017-03-01")
q_end   = pd.Timestamp("2025-03-01")
quarterly_index = pd.date_range(start=q_start, end=q_end, freq="QS-MAR")  # 03-Mar, 03-Jun, 03-Sep, 03-Dec

# ---------- 4) Interpolate to quarterly (no extension outside window) ----------
out = []
for code, g in pop_long.groupby("sa2_code"):
    g = (g[["date", "ERP"]]
         .sort_values("date")
         .set_index("date"))
    g = g[~g.index.duplicated(keep="last")]

    # Interpolate on union, then keep only the 3rd-of-quarter dates
    union_idx = g.index.union(quarterly_index)
    g_u = g.reindex(union_idx)
    g_u["ERP"] = g_u["ERP"].interpolate(method="time") #method="time" because it is linear with time - good for population

    # Keep quarterly rows and make columns tidy
    g_q = (g_u.reindex(quarterly_index)
               .rename(columns={"ERP": "ERP_quarterly"})
               .reset_index()                      # now a RangeIndex
               .rename(columns={"index": "date"}))

    # IMPORTANT: assign SA2 after reset_index so it doesn’t align by the old DateTimeIndex
    g_q["SA2_CODE21"] = code  # scalar broadcast; simple and safe
    g_q["SA2_CODE21"] = g_q["SA2_CODE21"].astype("Int64")

    out.append(g_q)

pop_quarterly = pd.concat(out, ignore_index=True)

# ---------- 5) Snap property dates to the 3rd and MERGE ----------
#properties_df["date"] = properties_df["date"].dt.to_period("Q-MAR").dt.start_time 
merged_df = properties_df.merge(pop_quarterly, how="left", on=["SA2_CODE21","date"])

# Optional: drop property rows outside ERP window so you never see 2000 again
#merged = merged[(merged["date"] >= q_start) & (merged["date"] <= q_end)]

In [ ]:
merged_df

,Suburb,date,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,ERP_quarterly
0,Albert Park-Middle Park-West St Kilda,2017-03-01,520,-37.853484,144.9701609,206051128,Albert Park,16536.854795
1,Albert Park-Middle Park-West St Kilda,2017-06-01,532,-37.853484,144.9701609,206051128,Albert Park,16594.323288
2,Albert Park-Middle Park-West St Kilda,2017-09-01,530,-37.853484,144.9701609,206051128,Albert Park,16651.791781
3,Albert Park-Middle Park-West St Kilda,2017-12-01,530,-37.853484,144.9701609,206051128,Albert Park,16708.635616
4,Albert Park-Middle Park-West St Kilda,2018-03-01,550,-37.853484,144.9701609,206051128,Albert Park,16785.060274
...,...,...,...,...,...,...,...,...
4813,Yarraville-Seddon,2024-03-01,570,-37.812809,144.884163,213031352,Yarraville,16280.121038
4814,Yarraville-Seddon,2024-06-01,590,-37.812809,144.884163,213031352,Yarraville,16337.039963
4815,Yarraville-Seddon,2024-09-01,595,-37.812809,144.884163,213031352,Yarraville,16393.958888
4816,Yarraville-Seddon,2024-12-01,600,-37.812809,144.884163,213031352,Yarraville,16450.259129
4817,Yarraville-Seddon,2025-03-01,600,-37.812809,144.884163,213031352,Yarraville,16469.438332

Continue with income

In [24]:
income_df = pd.read_csv("/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/Amanda-workspace/income_predictions_2017_final.csv")
income_df = income_df.drop(income_df.index[0]).reset_index(drop=True) #First row is victoria we dont need it
income_df = income_df.rename(columns={"SA2": "sa2_code"})

In [25]:
income_df

,sa2_code,SA2 NAME,2017-18.sum,2018-19.sum,2019-20.sum,2020-21.sum,2021-22.sum,2017.med,2018.med,2019.med,...,2021-22.mean,med_CAGR,Predicted_Income_2023,Predicted_Income_2024,Predicted_Income_2025,Predicted_Income_2026,Predicted_Income_2027,Predicted_Income_2028,Predicted_Income_2029,Predicted_Income_2030
0,201011001,Alfredton,483036463.0,526674675.0,587104678.0,671910899.0,766120245.0,49982,50151,51620,...,69685,3.132328,58944.600000,60626.628571,62308.657143,63990.685714,65672.714286,67354.742857,69036.771429,70718.800000
1,201011002,Ballarat,583676689.0,614019577.0,622719767.0,658757843.0,683888799.0,48152,48937,51187,...,82715,2.924842,56348.600000,57777.057143,59205.514286,60633.971429,62062.428571,63490.885714,64919.342857,66347.800000
2,201011005,Buninyong,267515723.0,279770315.0,288252226.0,302723074.0,325191920.0,50469,48461,49846,...,68664,1.836983,55824.000000,57031.571429,58239.142857,59446.714286,60654.285714,61861.857143,63069.428571,64277.000000
3,201011006,Delacombe,230736055.0,265359118.0,303858080.0,347767491.0,421457036.0,46355,45598,47940,...,59595,2.866193,54359.733333,55884.704762,57409.676190,58934.647619,60459.619048,61984.590476,63509.561905,65034.533333
4,201011007,Smythes Creek,145342967.0,159605715.0,162558698.0,174786090.0,183108810.0,48415,48000,50938,...,64520,2.740581,57691.866667,59380.638095,61069.409524,62758.180952,64446.952381,66135.723810,67824.495238,69513.266667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,217031476,Otway,108079271.0,115082194.0,121471267.0,135387035.0,141211176.0,32085,30663,32420,...,54543,5.020252,41767.466667,43770.123810,45772.780952,47775.438095,49778.095238,51780.752381,53783.409524,55786.066667
518,217041477,Moyne - East,207102941.0,235911309.0,248715753.0,259197028.0,285466499.0,38224,40764,43158,...,61049,5.457629,51755.733333,54008.704762,56261.676190,58514.647619,60767.619048,63020.590476,65273.561905,67526.533333
519,217041478,Moyne - West,311159848.0,336313641.0,359222336.0,384277688.0,430826553.0,41581,41093,43243,...,64874,4.403630,52606.933333,54729.104762,56851.276190,58973.447619,61095.619048,63217.790476,65339.961905,67462.133333
520,217041479,Warrnambool - North,797046929.0,759894035.0,804199635.0,854591829.0,915937309.0,42537,43939,45632,...,60799,4.017371,53695.066667,55613.466667,57531.866667,59450.266667,61368.666667,63287.066667,65205.466667,67123.866667
521,217041480,Warrnambool - South,438868297.0,483011789.0,492477052.0,532395346.0,553493680.0,41540,43308,44841,...,62408,4.781340,54013.600000,56187.485714,58361.371429,60535.257143,62709.142857,64883.028571,67056.914286,69230.800000

In [26]:
import pandas as pd
import re



# ---------- 1) Collect the columns we need ----------
# 2017–2022 medians
median_cols = [c for c in income_df.columns if re.fullmatch(r"\d{4}\.med", c)]
# keep only 2017..2022
median_cols = [c for c in median_cols if 2017 <= int(c[:4]) <= 2022]
median_cols = sorted(median_cols)  # e.g. ['2017.med', ..., '2022.med']

# predicted 2023–2024
pred_cols = [c for c in income_df.columns if re.fullmatch(r"Predicted_Income_\d{4}", c)]
pred_cols = [c for c in pred_cols if 2023 <= int(c.split("_")[-1]) <= 2024]
pred_cols = sorted(pred_cols)  # e.g. ['Predicted_Income_2023','Predicted_Income_2024']

keep_cols = ["sa2_code"] + median_cols + pred_cols
income_keep = income_df[keep_cols].drop_duplicates(subset=["sa2_code"])

# ---------- 2) Rename to a unified scheme: income_YYYY ----------
rename_map = {c: f"income_{c[:4]}" for c in median_cols}  # '2017.med' -> 'income_2017'
rename_map.update({c: f"income_{c.split('_')[-1]}" for c in pred_cols})  # 'Predicted_Income_2023' -> 'income_2023'
income_keep = income_keep.rename(columns=rename_map)

# ---------- 3) Wide -> long (sa2_code, year, income) ----------
value_cols = [c for c in income_keep.columns if c.startswith("income_")]
inc_long = income_keep.melt(id_vars="sa2_code", value_vars=value_cols,
                            var_name="year_lbl", value_name="income_annual")
inc_long["year"] = inc_long["year_lbl"].str.extract(r"(\d{4})").astype(int)
inc_long = inc_long.drop(columns="year_lbl")

# Restrict to 2017..2024 as requested
inc_long = inc_long[inc_long["year"].between(2017, 2024)]

# If any duplicates remain per (sa2_code, year), collapse safely
inc_long = (inc_long
            .groupby(["sa2_code","year"], as_index=False)
            .agg(income_annual=("income_annual","mean")))

# Create annual datetime anchor (Jan 1)
inc_long["date"] = pd.to_datetime(inc_long["year"].astype(str) + "-01-01")

# ---------- 4) Interpolate to the EXACT dates that exist in merged_df ----------
# Build the target quarterly index directly from merged_df
target_dates = pd.to_datetime(pd.Index(sorted(merged_df["date"].unique()))).tz_localize(None)

inc_q_list = []
for code, g in inc_long.groupby("sa2_code"):
    g = (g[["date","income_annual"]]
         .sort_values("date")
         .set_index("date"))
    g = g[~g.index.duplicated(keep="last")]

    # Interpolate on the union of annual points + target dates
    union_idx = g.index.union(target_dates)
    g_u = g.reindex(union_idx)
    # linear in actual time (best for calendar data)
    g_u["income"] = g_u["income_annual"].interpolate(method="time")
    g_q = g_u.reindex(target_dates)[["income"]]

    g_q = g_q.reset_index().rename(columns={"index":"date"})
    g_q["SA2_CODE21"] = pd.Series([code]*len(g_q), dtype="Int64")
    inc_q_list.append(g_q)

income_quarterly = pd.concat(inc_q_list, ignore_index=True)

# ---------- 5) Merge into merged_df ----------
income_quarterly["date"] = pd.to_datetime(income_quarterly["date"]).dt.normalize()
merged_df = merged_df.merge(income_quarterly, how="left", on=["SA2_CODE21","date"])

# Optional: rename for clarity
merged_df = merged_df.rename(columns={"income": "Income_quarterly_med"})

In [27]:
merged_df

,Suburb,date,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,ERP_quarterly,Income_quarterly_med
0,Albert Park-Middle Park-West St Kilda,2017-03-01,520,-37.853484,144.9701609,206051128,Albert Park,16536.854795,62618.808219
1,Albert Park-Middle Park-West St Kilda,2017-06-01,532,-37.853484,144.9701609,206051128,Albert Park,16594.323288,62804.068493
2,Albert Park-Middle Park-West St Kilda,2017-09-01,530,-37.853484,144.9701609,206051128,Albert Park,16651.791781,62989.328767
3,Albert Park-Middle Park-West St Kilda,2017-12-01,530,-37.853484,144.9701609,206051128,Albert Park,16708.635616,63172.575342
4,Albert Park-Middle Park-West St Kilda,2018-03-01,550,-37.853484,144.9701609,206051128,Albert Park,16785.060274,63400.523288
...,...,...,...,...,...,...,...,...,...
4813,Yarraville-Seddon,2024-03-01,570,-37.812809,144.884163,213031352,Yarraville,16280.121038,84590.600000
4814,Yarraville-Seddon,2024-06-01,590,-37.812809,144.884163,213031352,Yarraville,16337.039963,84590.600000
4815,Yarraville-Seddon,2024-09-01,595,-37.812809,144.884163,213031352,Yarraville,16393.958888,84590.600000
4816,Yarraville-Seddon,2024-12-01,600,-37.812809,144.884163,213031352,Yarraville,16450.259129,84590.600000
4817,Yarraville-Seddon,2025-03-01,600,-37.812809,144.884163,213031352,Yarraville,16469.438332,84590.600000

Continue with crime