Importing libaries and income dataset per SA2 area code

In [1]:
import pandas as pd
from pathlib import Path
DATA =  Path("..") / "datasets" / "VMFEAT"
income_df = pd.read_excel(DATA /"pop_income.xlsx", skiprows=6,sheet_name="Table 1.4",skipfooter=6) #Skipping header & footer and only taking from SA2 sheet

Filtering to only victoria as the raw dataset has other states as well

In [2]:
income_df

,SA2,SA2 NAME,2017-18,2018-19,2019-20,2020-21,2021-22,2017-18.1,2018-19.1,2019-20.1,...,2017-18.3,2018-19.3,2019-20.3,2020-21.3,2021-22.3,2017-18.4,2018-19.4,2019-20.4,2020-21.4,2021-22.4
0,Australia,NaN,"15,384,675","15,744,685","15,913,540","16,005,361","16,535,703",41,41,41,...,"47,451","49,096","50,103","52,925","55,062","61,677","63,448","64,858","68,406","72,187"
1,New South Wales,NaN,"4,901,551","5,000,145","5,035,692","5,018,669","5,142,655",41,41,41,...,"47,852","49,522","50,567","53,905","55,105","64,528","66,310","67,677","71,919","75,511"
2,101021007,Braidwood,"2,539","2,586","2,678","2,710","2,780",50,50,50,...,"40,211","39,484","42,878","45,806","48,324","50,436","49,987","60,017","67,472","61,492"
3,101021008,Karabar,"5,586","5,604","5,598","5,541","5,636",42,42,42,...,"57,949","60,123","60,928","64,476","64,108","61,883","64,497","65,614","68,292","69,873"
4,101021009,Queanbeyan,"7,236","7,293","7,355","7,633","7,931",39,39,40,...,"56,456","58,835","60,709","62,783","63,405","61,420","64,296","66,052","68,052","68,857"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2454,801101139,Wright,"2,160","2,224","2,345","2,485","2,709",34,35,35,...,"76,280","78,529","79,986","81,931","83,503","81,914","85,010","86,123","89,716","92,518"
2455,801101145,Molonglo - East,np,np,np,np,np,np,np,np,...,np,np,np,np,np,np,np,np,np,np
2456,801101146,Whitlam,np,np,np,14,136,np,np,np,...,np,np,np,"67,504","70,587",np,np,np,"68,787","80,551"
2457,801111140,ACT - South West,407,396,385,375,398,40,39,40,...,"59,985","62,341","67,941","70,102","72,856","66,562","71,357","74,890","78,360","79,692"
2458,801111141,Namadgi,17,17,16,20,26,27,27,34,...,"57,321","40,479","35,360","43,655","42,869","49,589","40,964","42,159","49,015","49,663"

In [3]:
# Find the row index where "Victoria" appears
vic_start = income_df[income_df.iloc[:,0] == "Victoria"].index[0]

# Subset everything after "Victoria"
vic_df = income_df.loc[vic_start:] 

# Drop rows after the next state header (e.g. "Queensland", "South Australia")
state_rows = vic_df[vic_df.iloc[:,0].isin(["Queensland","South Australia","Tasmania","Western Australia","Northern Territory","Australian Capital Territory"])]

if not state_rows.empty:
    vic_end = state_rows.index[0]
    vic_df = vic_df.loc[:vic_end-1]

# Reset index
vic_df = vic_df.reset_index(drop=True)

In [4]:
vic_df

,SA2,SA2 NAME,2017-18,2018-19,2019-20,2020-21,2021-22,2017-18.1,2018-19.1,2019-20.1,...,2017-18.3,2018-19.3,2019-20.3,2020-21.3,2021-22.3,2017-18.4,2018-19.4,2019-20.4,2020-21.4,2021-22.4
0,Victoria,NaN,"3,938,148","4,055,515","4,109,632","4,096,961","4,226,929",41,40,40,...,"47,003","48,801","49,848","52,218","54,708","60,976","62,942","64,361","67,802","71,842"
1,201011001,Alfredton,"8,055","8,591","9,271","10,086","10,994",41,41,41,...,"50,151","51,620","52,777","55,499","58,316","59,967","61,305","63,327","66,618","69,685"
2,201011002,Ballarat,"8,145","8,246","8,290","8,207","8,268",46,46,47,...,"48,937","51,187","50,968","53,232","55,618","71,661","74,463","75,117","80,268","82,715"
3,201011005,Buninyong,"4,500","4,588","4,622","4,624","4,736",45,45,45,...,"48,461","49,846","51,572","53,959","55,278","59,448","60,979","62,365","65,468","68,664"
4,201011006,Delacombe,"4,619","5,054","5,599","6,120","7,072",39,38,38,...,"45,598","47,940","49,810","51,041","53,390","49,954","52,505","54,270","56,825","59,595"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,217031476,Otway,"2,558","2,639","2,662","2,563","2,589",49,49,50,...,"30,663","32,420","33,597","38,795","40,989","42,251","43,608","45,632","52,824","54,543"
519,217041477,Moyne - East,"4,308","4,477","4,465","4,556","4,676",45,45,45,...,"40,764","43,158","43,759","47,460","49,857","48,074","52,694","55,703","56,891","61,049"
520,217041478,Moyne - West,"6,209","6,316","6,444","6,457","6,641",47,47,47,...,"41,093","43,243","44,966","48,614","51,579","50,114","53,248","55,745","59,513","64,874"
521,217041479,Warrnambool - North,"14,192","14,446","14,471","14,688","15,065",42,42,42,...,"43,939","45,632","47,821","50,159","51,796","56,162","52,602","55,573","58,183","60,799"
522,217041480,Warrnambool - South,"8,367","8,734","8,862","8,893","8,869",43,43,43,...,"43,308","44,841","46,303","49,971","52,467","52,452","55,302","55,572","59,867","62,408"

Renaming column and removing median age of earners column and earners (person) feature

In [5]:
#Remove earners (person)
columns_to_remove = ["2017-18", "2018-19", "2019-20", "2020-21", "2021-22"]
vic_df = vic_df.drop(columns=columns_to_remove)

In [6]:
#Remove meadian age earners
columns_to_remove = ["2017-18.1", "2018-19.1", "2019-20.1", "2020-21.1", "2021-22.1"]
vic_df = vic_df.drop(columns=columns_to_remove)
vic_df

,SA2,SA2 NAME,2017-18.2,2018-19.2,2019-20.2,2020-21.2,2021-22.2,2017-18.3,2018-19.3,2019-20.3,2020-21.3,2021-22.3,2017-18.4,2018-19.4,2019-20.4,2020-21.4,2021-22.4
0,Victoria,NaN,"240,134,330,651","255,260,612,847","264,499,534,503","277,782,979,845","303,670,036,100","47,003","48,801","49,848","52,218","54,708","60,976","62,942","64,361","67,802","71,842"
1,201011001,Alfredton,"483,036,463","526,674,675","587,104,678","671,910,899","766,120,245","50,151","51,620","52,777","55,499","58,316","59,967","61,305","63,327","66,618","69,685"
2,201011002,Ballarat,"583,676,689","614,019,577","622,719,767","658,757,843","683,888,799","48,937","51,187","50,968","53,232","55,618","71,661","74,463","75,117","80,268","82,715"
3,201011005,Buninyong,"267,515,723","279,770,315","288,252,226","302,723,074","325,191,920","48,461","49,846","51,572","53,959","55,278","59,448","60,979","62,365","65,468","68,664"
4,201011006,Delacombe,"230,736,055","265,359,118","303,858,080","347,767,491","421,457,036","45,598","47,940","49,810","51,041","53,390","49,954","52,505","54,270","56,825","59,595"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,217031476,Otway,"108,079,271","115,082,194","121,471,267","135,387,035","141,211,176","30,663","32,420","33,597","38,795","40,989","42,251","43,608","45,632","52,824","54,543"
519,217041477,Moyne - East,"207,102,941","235,911,309","248,715,753","259,197,028","285,466,499","40,764","43,158","43,759","47,460","49,857","48,074","52,694","55,703","56,891","61,049"
520,217041478,Moyne - West,"311,159,848","336,313,641","359,222,336","384,277,688","430,826,553","41,093","43,243","44,966","48,614","51,579","50,114","53,248","55,745","59,513","64,874"
521,217041479,Warrnambool - North,"797,046,929","759,894,035","804,199,635","854,591,829","915,937,309","43,939","45,632","47,821","50,159","51,796","56,162","52,602","55,573","58,183","60,799"
522,217041480,Warrnambool - South,"438,868,297","483,011,789","492,477,052","532,395,346","553,493,680","43,308","44,841","46,303","49,971","52,467","52,452","55,302","55,572","59,867","62,408"

In [7]:
vic_df = vic_df.rename(columns=lambda x: x.replace(".2", ".sum") if x.endswith(".2") else x)
vic_df = vic_df.rename(columns=lambda x: x.replace(".3", ".med") if x.endswith(".3") else x)
vic_df = vic_df.rename(columns=lambda x: x.replace(".4", ".mean") if x.endswith(".4") else x)
vic_df

,SA2,SA2 NAME,2017-18.sum,2018-19.sum,2019-20.sum,2020-21.sum,2021-22.sum,2017-18.med,2018-19.med,2019-20.med,2020-21.med,2021-22.med,2017-18.mean,2018-19.mean,2019-20.mean,2020-21.mean,2021-22.mean
0,Victoria,NaN,"240,134,330,651","255,260,612,847","264,499,534,503","277,782,979,845","303,670,036,100","47,003","48,801","49,848","52,218","54,708","60,976","62,942","64,361","67,802","71,842"
1,201011001,Alfredton,"483,036,463","526,674,675","587,104,678","671,910,899","766,120,245","50,151","51,620","52,777","55,499","58,316","59,967","61,305","63,327","66,618","69,685"
2,201011002,Ballarat,"583,676,689","614,019,577","622,719,767","658,757,843","683,888,799","48,937","51,187","50,968","53,232","55,618","71,661","74,463","75,117","80,268","82,715"
3,201011005,Buninyong,"267,515,723","279,770,315","288,252,226","302,723,074","325,191,920","48,461","49,846","51,572","53,959","55,278","59,448","60,979","62,365","65,468","68,664"
4,201011006,Delacombe,"230,736,055","265,359,118","303,858,080","347,767,491","421,457,036","45,598","47,940","49,810","51,041","53,390","49,954","52,505","54,270","56,825","59,595"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,217031476,Otway,"108,079,271","115,082,194","121,471,267","135,387,035","141,211,176","30,663","32,420","33,597","38,795","40,989","42,251","43,608","45,632","52,824","54,543"
519,217041477,Moyne - East,"207,102,941","235,911,309","248,715,753","259,197,028","285,466,499","40,764","43,158","43,759","47,460","49,857","48,074","52,694","55,703","56,891","61,049"
520,217041478,Moyne - West,"311,159,848","336,313,641","359,222,336","384,277,688","430,826,553","41,093","43,243","44,966","48,614","51,579","50,114","53,248","55,745","59,513","64,874"
521,217041479,Warrnambool - North,"797,046,929","759,894,035","804,199,635","854,591,829","915,937,309","43,939","45,632","47,821","50,159","51,796","56,162","52,602","55,573","58,183","60,799"
522,217041480,Warrnambool - South,"438,868,297","483,011,789","492,477,052","532,395,346","553,493,680","43,308","44,841","46,303","49,971","52,467","52,452","55,302","55,572","59,867","62,408"

In [8]:
#Checking for NULL values
vic_df.isnull().sum()

#No Null values, only 1 in the 'SA2 NAME' column 
#which belongs to Victoria (Make sense, do not have to handle this)

SA2             0
SA2 NAME        1
2017-18.sum     0
2018-19.sum     0
2019-20.sum     0
2020-21.sum     0
2021-22.sum     0
2017-18.med     0
2018-19.med     0
2019-20.med     0
2020-21.med     0
2021-22.med     0
2017-18.mean    0
2018-19.mean    0
2019-20.mean    0
2020-21.mean    0
2021-22.mean    0
dtype: int64

Convert income to numerical values

In [9]:
cols_to_clean = vic_df.columns[2:]  # all columns after SA2 and SA2 NAME

for col in cols_to_clean:  # or sum_cols
    vic_df[col] = pd.to_numeric(
        vic_df[col].astype(str).str.replace(",", ""), 
        errors='coerce'  # convert bad values to NaN
    ).fillna(0) 

vic_df

,SA2,SA2 NAME,2017-18.sum,2018-19.sum,2019-20.sum,2020-21.sum,2021-22.sum,2017-18.med,2018-19.med,2019-20.med,2020-21.med,2021-22.med,2017-18.mean,2018-19.mean,2019-20.mean,2020-21.mean,2021-22.mean
0,Victoria,NaN,2.401343e+11,2.552606e+11,2.644995e+11,2.777830e+11,3.036700e+11,47003.0,48801.0,49848.0,52218.0,54708.0,60976.0,62942.0,64361.0,67802.0,71842.0
1,201011001,Alfredton,4.830365e+08,5.266747e+08,5.871047e+08,6.719109e+08,7.661202e+08,50151.0,51620.0,52777.0,55499.0,58316.0,59967.0,61305.0,63327.0,66618.0,69685.0
2,201011002,Ballarat,5.836767e+08,6.140196e+08,6.227198e+08,6.587578e+08,6.838888e+08,48937.0,51187.0,50968.0,53232.0,55618.0,71661.0,74463.0,75117.0,80268.0,82715.0
3,201011005,Buninyong,2.675157e+08,2.797703e+08,2.882522e+08,3.027231e+08,3.251919e+08,48461.0,49846.0,51572.0,53959.0,55278.0,59448.0,60979.0,62365.0,65468.0,68664.0
4,201011006,Delacombe,2.307361e+08,2.653591e+08,3.038581e+08,3.477675e+08,4.214570e+08,45598.0,47940.0,49810.0,51041.0,53390.0,49954.0,52505.0,54270.0,56825.0,59595.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,217031476,Otway,1.080793e+08,1.150822e+08,1.214713e+08,1.353870e+08,1.412112e+08,30663.0,32420.0,33597.0,38795.0,40989.0,42251.0,43608.0,45632.0,52824.0,54543.0
519,217041477,Moyne - East,2.071029e+08,2.359113e+08,2.487158e+08,2.591970e+08,2.854665e+08,40764.0,43158.0,43759.0,47460.0,49857.0,48074.0,52694.0,55703.0,56891.0,61049.0
520,217041478,Moyne - West,3.111598e+08,3.363136e+08,3.592223e+08,3.842777e+08,4.308266e+08,41093.0,43243.0,44966.0,48614.0,51579.0,50114.0,53248.0,55745.0,59513.0,64874.0
521,217041479,Warrnambool - North,7.970469e+08,7.598940e+08,8.041996e+08,8.545918e+08,9.159373e+08,43939.0,45632.0,47821.0,50159.0,51796.0,56162.0,52602.0,55573.0,58183.0,60799.0
522,217041480,Warrnambool - South,4.388683e+08,4.830118e+08,4.924771e+08,5.323953e+08,5.534937e+08,43308.0,44841.0,46303.0,49971.0,52467.0,52452.0,55302.0,55572.0,59867.0,62408.0

In [10]:
med_cols = [col for col in vic_df.columns if col.endswith(".med")]
mean_cols = [col for col in vic_df.columns if col.endswith(".mean")]

df_med_growth = vic_df[med_cols].pct_change(axis=1) * 100
df_mean_growth = vic_df[mean_cols].pct_change(axis=1) * 100

n_years = 4  
def calculate_cagr(start, end, n_years, eps=1e-9):
    start_safe = start + eps
    return ((end / start_safe) ** (1/n_years) - 1) * 100


vic_df['med_CAGR'] = vic_df.apply(lambda x: calculate_cagr(x[med_cols[0]], x[med_cols[-1]], n_years), axis=1)
vic_df['mean_CAGR'] = vic_df.apply(lambda x: calculate_cagr(x[mean_cols[0]], x[mean_cols[-1]], n_years), axis=1)

print(vic_df[['SA2 NAME', 'med_CAGR', 'mean_CAGR']])

                SA2 NAME  med_CAGR  mean_CAGR
0                    NaN  3.867891   4.184922
1              Alfredton  3.842954   3.826149
2               Ballarat  3.251057   3.651443
3              Buninyong  3.345123   3.668774
4              Delacombe  4.022798   4.510491
..                   ...       ...        ...
518                Otway  7.525921   6.592220
519         Moyne - East  5.162848   6.155396
520         Moyne - West  5.846443   6.666465
521  Warrnambool - North  4.198511   2.003123
522  Warrnambool - South  4.913053   4.440647

[523 rows x 3 columns]

# Predict income for the near 2030

In [ ]:
#Using CAGR
latest_year_col = med_cols[-1]  
latest_year = 2022  # the numeric year corresponding to 2021-22
target_year = 2030
years_to_2030 = target_year - latest_year  # 8 years

# Convert CAGR from % to decimal
vic_df['Predicted_Income_2030_CAGR'] = vic_df[latest_year_col] * (1 + vic_df['med_CAGR']/100) ** years_to_2030

# Show result
print(vic_df[['SA2 NAME', latest_year_col, 'med_CAGR', 'Predicted_Income_2030_CAGR']])

In [ ]:
from sklearn.linear_model import LinearRegression
import numpy as np

years_numeric = np.array([2018, 2019, 2020, 2021, 2022]).reshape(-1, 1)

# Years to predict
future_years = np.arange(2023, 2031).reshape(-1, 1) 

predictions_all_years = []

for idx, row in vic_df.iterrows():
    y = row[med_cols].values.astype(float)
    
    # Fit linear regression
    model = LinearRegression()
    model.fit(years_numeric, y)
    
    # Predict for all future years
    pred_future = model.predict(future_years)
    
    # Save as a list 
    predictions_all_years.append(pred_future)

future_years_cols = [f'Predicted_Income_{year}' for year in range(2023, 2031)]

pred_df = pd.DataFrame(predictions_all_years, columns=future_years_cols)

# Combine with original DataFrame
vic_df = pd.concat([vic_df.reset_index(drop=True), pred_df], axis=1)

In [13]:
vic_df

,SA2,SA2 NAME,2017-18.sum,2018-19.sum,2019-20.sum,2020-21.sum,2021-22.sum,2017-18.med,2018-19.med,2019-20.med,...,Predicted_Income_2029,Predicted_Income_2030,Predicted_Income_2023,Predicted_Income_2024,Predicted_Income_2025,Predicted_Income_2026,Predicted_Income_2027,Predicted_Income_2028,Predicted_Income_2029,Predicted_Income_2030
0,Victoria,NaN,2.401343e+11,2.552606e+11,2.644995e+11,2.777830e+11,3.036700e+11,47003.0,48801.0,49848.0,...,67459.9,69342.6,56163.7,58046.4,59929.1,61811.8,63694.5,65577.2,67459.9,69342.6
1,201011001,Alfredton,4.830365e+08,5.266747e+08,5.871047e+08,6.719109e+08,7.661202e+08,50151.0,51620.0,52777.0,...,71860.7,73881.6,59735.3,61756.2,63777.1,65798.0,67818.9,69839.8,71860.7,73881.6
2,201011002,Ballarat,5.836767e+08,6.140196e+08,6.227198e+08,6.587578e+08,6.838888e+08,48937.0,51187.0,50968.0,...,65854.7,67395.4,56610.5,58151.2,59691.9,61232.6,62773.3,64314.0,65854.7,67395.4
3,201011005,Buninyong,2.675157e+08,2.797703e+08,2.882522e+08,3.027231e+08,3.251919e+08,48461.0,49846.0,51572.0,...,67795.5,69570.2,57147.3,58922.0,60696.7,62471.4,64246.1,66020.8,67795.5,69570.2
4,201011006,Delacombe,2.307361e+08,2.653591e+08,3.038581e+08,3.477675e+08,4.214570e+08,45598.0,47940.0,49810.0,...,66372.3,68240.8,55161.3,57029.8,58898.3,60766.8,62635.3,64503.8,66372.3,68240.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,217031476,Otway,1.080793e+08,1.150822e+08,1.214713e+08,1.353870e+08,1.412112e+08,30663.0,32420.0,33597.0,...,59617.1,62319.8,43400.9,46103.6,48806.3,51509.0,54211.7,56914.4,59617.1,62319.8
519,217041477,Moyne - East,2.071029e+08,2.359113e+08,2.487158e+08,2.591970e+08,2.854665e+08,40764.0,43158.0,43759.0,...,65238.8,67487.6,51746.0,53994.8,56243.6,58492.4,60741.2,62990.0,65238.8,67487.6
520,217041478,Moyne - West,3.111598e+08,3.363136e+08,3.592223e+08,3.842777e+08,4.308266e+08,41093.0,43243.0,44966.0,...,69607.7,72242.0,53801.9,56436.2,59070.5,61704.8,64339.1,66973.4,69607.7,72242.0
521,217041479,Warrnambool - North,7.970469e+08,7.598940e+08,8.041996e+08,8.545918e+08,9.159373e+08,43939.0,45632.0,47821.0,...,66086.3,68110.4,53941.7,55965.8,57989.9,60014.0,62038.1,64062.2,66086.3,68110.4
522,217041480,Warrnambool - South,4.388683e+08,4.830118e+08,4.924771e+08,5.323953e+08,5.534937e+08,43308.0,44841.0,46303.0,...,68481.2,70826.0,54412.4,56757.2,59102.0,61446.8,63791.6,66136.4,68481.2,70826.0

In [ ]:
# Save to CSV if needed
#vic_df.to_csv('predicted_income_till_2030.csv', index=False)