# This notebook is trying to find the suburb with the highest growth using FOI COUNTS AS WELL

In [2]:
import pandas as pd
merged_df = pd.read_csv('/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/Amanda-workspace/merged_df.csv')

In [7]:
merged_df.dtypes

Suburb                   object
date                     object
Median                    int64
Lat                     float64
Lng                     float64
SA2_CODE21                int64
SA2_NAME21               object
t                         int64
ERP_quarterly           float64
Income_quarterly_med    float64
dtype: object

Combine with FOI counts

In [6]:
foi_counts_df = pd.read_csv("/home/eeamanda/project-2-group-real-estate-industry-project-7-2025/Amanda-workspace/pivot_counts.csv")
foi_counts_df.dtypes

SA2_CODE21    int64
cultural      int64
education     int64
health        int64
others        int64
tourist       int64
dtype: object

In [ ]:
# merge on SA2 code
merged_df = merged_df.merge(
    foi_counts_df,
    on='SA2_CODE21',
    how='left'   # keep all rows from merged_df
)
print(merged_df.head())

                                  Suburb        date  Median        Lat  \
0  Albert Park-Middle Park-West St Kilda  2017-03-01     520 -37.853484
1  Albert Park-Middle Park-West St Kilda  2017-06-01     532 -37.853484
2  Albert Park-Middle Park-West St Kilda  2017-09-01     530 -37.853484
3  Albert Park-Middle Park-West St Kilda  2017-12-01     530 -37.853484
4  Albert Park-Middle Park-West St Kilda  2018-03-01     550 -37.853484

          Lng  SA2_CODE21   SA2_NAME21  t  ERP_quarterly  \
0  144.970161   206051128  Albert Park  0   16536.854795
1  144.970161   206051128  Albert Park  1   16594.323288
2  144.970161   206051128  Albert Park  2   16651.791781
3  144.970161   206051128  Albert Park  3   16708.635616
4  144.970161   206051128  Albert Park  4   16785.060274

   Income_quarterly_med  cultural  education  health  others  tourist
0          62618.808219         4          7       2     103       12
1          62804.068493         4          7       2     103       12
2          62989.328767         4          7       2     103       12
3          63172.575342         4          7       2     103       12
4          63400.523288         4          7       2     103       12

In [10]:
merged_df

,Suburb,date,Median,Lat,Lng,SA2_CODE21,SA2_NAME21,t,ERP_quarterly,Income_quarterly_med,cultural,education,health,others,tourist
0,Albert Park-Middle Park-West St Kilda,2017-03-01,520,-37.853484,144.970161,206051128,Albert Park,0,16536.854795,62618.808219,4,7,2,103,12
1,Albert Park-Middle Park-West St Kilda,2017-06-01,532,-37.853484,144.970161,206051128,Albert Park,1,16594.323288,62804.068493,4,7,2,103,12
2,Albert Park-Middle Park-West St Kilda,2017-09-01,530,-37.853484,144.970161,206051128,Albert Park,2,16651.791781,62989.328767,4,7,2,103,12
3,Albert Park-Middle Park-West St Kilda,2017-12-01,530,-37.853484,144.970161,206051128,Albert Park,3,16708.635616,63172.575342,4,7,2,103,12
4,Albert Park-Middle Park-West St Kilda,2018-03-01,550,-37.853484,144.970161,206051128,Albert Park,4,16785.060274,63400.523288,4,7,2,103,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4813,Yarraville-Seddon,2024-03-01,570,-37.812809,144.884163,213031352,Yarraville,28,16280.121038,84590.600000,2,4,2,43,0
4814,Yarraville-Seddon,2024-06-01,590,-37.812809,144.884163,213031352,Yarraville,29,16337.039963,84590.600000,2,4,2,43,0
4815,Yarraville-Seddon,2024-09-01,595,-37.812809,144.884163,213031352,Yarraville,30,16393.958888,84590.600000,2,4,2,43,0
4816,Yarraville-Seddon,2024-12-01,600,-37.812809,144.884163,213031352,Yarraville,31,16450.259129,84590.600000,2,4,2,43,0
4817,Yarraville-Seddon,2025-03-01,600,-37.812809,144.884163,213031352,Yarraville,32,16469.438332,84590.600000,2,4,2,43,0

In [15]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

# --- Stage 1: Within-suburb growth slopes ---
df = merged_df.copy()
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(['Suburb','date'])

# numeric quarter index
t0 = df['date'].min()
df['t'] = ((df['date'] - t0) / pd.Timedelta(days=90)).astype(int)

train_mask = df['date'] <= '2024-09-01'
train_df = df.loc[train_mask]

growth_results = []
for suburb, df_train in train_df.groupby('Suburb'):
    if len(df_train) < 4:  # need enough quarters
        continue
    X_train = df_train[['t','ERP_quarterly','Income_quarterly_med']]
    y_train = df_train['Median']
    model = LinearRegression().fit(X_train, y_train)
    coef_t = model.coef_[0]   # slope wrt time
    growth_results.append({'Suburb': suburb, 'Growth_slope_t': coef_t})

growth_df = pd.DataFrame(growth_results)

# --- Stage 2: Cross-sectional regression on FOI counts ---
foi_df = (
    df.groupby('Suburb')
      .agg({
          'cultural':'first',
          'education':'first',
          'health':'first',
          'others':'first',
          'tourist':'first',
          'ERP_quarterly':'mean',
          'Income_quarterly_med':'mean'
      })
      .reset_index()
)

cross_df = growth_df.merge(foi_df, on='Suburb', how='left')

X = cross_df[['cultural','education','health','others','tourist',
              'ERP_quarterly','Income_quarterly_med']]
y = cross_df['Growth_slope_t']

X = sm.add_constant(X)
cross_model = sm.OLS(y, X).fit()
print(cross_model.summary())

# --- Stage 3: Predict long-run growth potential & rank ---
cross_df['Predicted_growth'] = cross_model.predict(X)

ranking = cross_df[['Suburb','Growth_slope_t','Predicted_growth',
                    'cultural','education','health','others','tourist',
                    'ERP_quarterly','Income_quarterly_med']] \
          .sort_values('Predicted_growth', ascending=False)

print("\nüèÜ Top suburbs by predicted long-run growth:")
print(ranking.head(10))

                            OLS Regression Results
==============================================================================
Dep. Variable:         Growth_slope_t   R-squared:                       0.128
Model:                            OLS   Adj. R-squared:                  0.084
Method:                 Least Squares   F-statistic:                     2.905
Date:                Wed, 08 Oct 2025   Prob (F-statistic):            0.00728
Time:                        01:04:56   Log-Likelihood:                -495.04
No. Observations:                 146   AIC:                             1006.
Df Residuals:                     138   BIC:                             1030.
Df Model:                           7
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   -2.8801      4.573     -0.630      0.530     -11.922       6.162
cultural                 0.3354      0.210      1.595      0.113      -0.080       0.751
education                0.3845      0.232      1.656      0.100      -0.075       0.844
health                   0.0619      0.312      0.198      0.843      -0.555       0.679
others                  -0.0253      0.013     -1.901      0.059      -0.052       0.001
tourist                  0.3246      0.318      1.020      0.309      -0.304       0.954
ERP_quarterly           -0.0002      0.000     -1.377      0.171      -0.000    7.78e-05
Income_quarterly_med     0.0002   6.93e-05      2.344      0.021    2.54e-05       0.000
==============================================================================
Omnibus:                       91.208   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1008.146
Skew:                          -1.952   Prob(JB):                    1.21e-219
Kurtosis:                      15.267   Cond. No.                     4.39e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.39e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

üèÜ Top suburbs by predicted long-run growth:
                                    Suburb  Growth_slope_t  Predicted_growth  \
47                          East Melbourne       16.693955         14.964305
25     Canterbury-Surrey Hills-Mont Albert       13.851266         11.971529
5                                 Ballarat        4.048001         11.816583
118                            South Yarra        5.027311         11.618898
23                         CBD-St Kilda Rd        5.989482         11.618898
16                                Brighton        4.557096         11.071072
0    Albert Park-Middle Park-West St Kilda       10.901907         10.973321
109                       Richmond-Burnley       12.689750         10.877968
78                                 Malvern        8.059859         10.875039
95                           North Bendigo        6.947707         10.758188

     cultural  education  health  others  tourist  ERP_quarterly  \
47          9          2      11      60        9    5207.325434
25         12         11       1      42        0   16511.646243
5          14         14       6     104        1   12032.342430
118         3          8       1      24        1    6833.455200
23          3          8       1      24        1    6833.455200
16         10         13       4      73        0   23866.961942
0           4          7       2     103       12   16741.477765
109         6          8       1      47        0   18776.484682
78          9         10       4      51        0   21265.386694
95         15         13       3      85        1   14826.068987

     Income_quarterly_med
47           79419.059166
25           64922.673956
5            53558.190809
118          72993.387275
23           72993.387275
16           70544.837439
0            70149.357426
109          80948.029830
78           72219.104746
95           48603.374439

In [14]:
import statsmodels.api as sm

# attach FOI variables (they are constant per suburb, so take first row)
foi_df = (
    df.groupby('Suburb')
      .agg({
          'cultural':'first',
          'education':'first',
          'health':'first',
          'others':'first',
          'tourist':'first',
          'ERP_quarterly':'mean',
          'Income_quarterly_med':'mean'
      })
      .reset_index()
)

# merge with growth slopes
cross_df = growth_df.merge(foi_df, on='Suburb', how='left')

X = cross_df[['cultural','education','health','others','tourist',
              'ERP_quarterly','Income_quarterly_med']]
y = cross_df['Growth_slope_t']

X = sm.add_constant(X)
cross_model = sm.OLS(y, X).fit()
print(cross_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         Growth_slope_t   R-squared:                       0.128
Model:                            OLS   Adj. R-squared:                  0.084
Method:                 Least Squares   F-statistic:                     2.905
Date:                Wed, 08 Oct 2025   Prob (F-statistic):            0.00728
Time:                        01:04:25   Log-Likelihood:                -495.04
No. Observations:                 146   AIC:                             1006.
Df Residuals:                     138   BIC:                             1030.
Df Model:                           7
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   -2.8801      4.573     -0.630      0.530     -11.922       6.162
cultural                 0.3354      0.210      1.595      0.113      -0.080       0.751
education                0.3845      0.232      1.656      0.100      -0.075       0.844
health                   0.0619      0.312      0.198      0.843      -0.555       0.679
others                  -0.0253      0.013     -1.901      0.059      -0.052       0.001
tourist                  0.3246      0.318      1.020      0.309      -0.304       0.954
ERP_quarterly           -0.0002      0.000     -1.377      0.171      -0.000    7.78e-05
Income_quarterly_med     0.0002   6.93e-05      2.344      0.021    2.54e-05       0.000
==============================================================================
Omnibus:                       91.208   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1008.146
Skew:                          -1.952   Prob(JB):                    1.21e-219
Kurtosis:                      15.267   Cond. No.                     4.39e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.39e+05. This might indicate that there are
strong multicollinearity or other numerical problems.